<section>
    <div>
        <h3>HOW TO ORDER</h3>
        <div>
            <div>
                <img src="./assets/img/noodle.png" alt="Asia noodles">
                <h4>Pick your <br> noodle</h4>
            </div>
            <div>
                <img src="./assets/img/broth.png" alt="pic of a broth">
                <h4>Pick your <br> broth</h4>
            </div>
            <div>
                <img src="./assets/img/egg.png" alt="pig of a half egg">
                <h4>Add your <br> toppings</h4>
            </div>
        </div>
    </div>
</section>
