section {
    display: flex;
    align-content: center;
    justify-content: start;
    flex-direction: column;
}

a {
    color: red;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: black;
    margin: 20px;
    text-align: center;
}

p {
    padding: 10px;
    margin-bottom: 20px;
}