@use '../landing-Page.component.scss' as main;


nav {
    padding: 32px 0;
    height: 50px;
    @include main.center(space-around);


    >img {
        width: 64px;
        height: 64px;
    }

    >div {
        font-size: 24px;
        @include main.center(space-around);
        gap: 5%;
        >a{
            &:hover {
                color: #9F0908 ;;
            }
        }

        >.phone_btn {
            @include main.center(space-between);
            border: 2px solid white;
            background: #9F0908 ;;
            border-radius: 10px;
            white-space: nowrap;
            padding: 6px;
            
            >img {
                aspect-ratio: 1/1;
                height: 20px;
                margin: 0 6px;
            }

            &:hover {
                color: white;
            }
        }
    }
}