<section>
    <div>
        <h3>OUR MENU</h3>
        <div>
            <img src="./assets/img/R1.png" alt="">
            <table>
                <tr>
                    <th>Tonkatsu Ramen</th>
                </tr>
                <tr>
                    <td>Chicken</td>
                    <td>11.93€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>

        </div>
        <div class="rightSide">
            <img src="./assets/img/R2.png" alt="">
            <table>
                <tr>
                    <th>Spicy Miso Ramen</th>
                </tr>
                <tr>
                    <td>Chicken</td>
                    <td>11.93€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>

        </div>
        <div>
            <img src="./assets/img/R3.png" alt="">
            <table>
                <tr>
                    <th>Shio Ramen</th>
                </tr>
                <tr>
                    <td>Chicken</td>
                    <td>11.93€</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12.95€</td>
                </tr>
                <tr>
                    <td>SHRIMP</td>
                    <td>13.95€</td>
                </tr>
            </table>
        </div>
    </div>
</section>